/dts-v1/;
/plugin/;

/ {
    /* Force kernel stdout to serial0 (alias -> /soc/apb4@fe000000/serial@7a000) at 921600 8N1 */
    fragment@0 {
        target-path = "/chosen";
        __overlay__ {
            stdout-path = "serial0:921600n8";
        };
    };
};
